
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&family=Ubuntu:wght@400;500&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
body{
    font-family: 'Ubuntu', sans-serif;
}

            /* Header starts here */


header{
    background-color:#0f2f44;
    color: white;
    margin: auto;
    width: 100%;

}
header .row{
    padding: 19px 0;
    justify-content: space-between;
}


            /* Header ends here */

            /* nav starts here  */
nav .logo{
    width: 40%;
}
nav .menu{
    width: 60%;
    text-align: right;
}
 nav .menu ul li{
    display: inline-block;
    margin: 0 14px;

}
nav .menu ul li a{
    font-weight: 500;
    padding:40px 12px ;
    display: block;
    color:#222222;
    transition: 0.5s;
}
.menu ul li:hover a{
    background-color: #fff9e6;
    color:#ffc712 ;
    
}
nav .menu ul li span{
    border: 1px solid #222222;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
    display: block;
    cursor: pointer;
}  

            /* nav ends here  */


            /* Homepage starts here  */

#banner{
    width: 100%;
    height:580px;
    background-color: #e0edff;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
   
}
.hometext{
   width: 50%;
   position: absolute;
   top: 142px;
     
}
.homepic{
    width: 50%;
    padding: 70px 0 0 450px;
}
.homepic img{
    width: 800px;
}
.hometext .pl1{
    color: #0f2f44;
    font-size:50px;
    line-height: 45px;
}
.hometext .pl2{
    color: #0f2f44;
    font-family: 'Abril Fatface', cursive;
    font-size:80px;
    line-height: 70px;
}
.hometext .pl3{
    color: #8484bf;
    font-size:30px;
    letter-spacing:12px ;
}
.hometext .pl4{
    font-family: 'Open Sans', sans-serif;
    line-height:20px;
    font-size: 14px;
    color: #444444;
    margin-top: 20px;
    display: block;
}
.hometext button{
    padding: 17px;
    height: 45px;
    border-radius: 5px;
    background:#8484bf ;
    font-weight: bold ;
    border: none;
    margin: 30px 0;
    color: white;

}
.hometext .playbutton{
    position: absolute;
    left:140px;
    bottom: 28px;
    background: white;
    padding: 15px 20px;
    border-radius: 25px;
    color:#8484bf ;
   
}


            /* Homepage ends here  */

            /* About starts here */
#about{
    height:660px;
    padding-top: 100px;
    margin-top:20px;
}            
#about .text{
    width: 50%;
    color: #0f2f44;
}            
#about .picture img{
    width:100%;
    padding: 20px 0;
    display: block;
}           
#about .text .tl1{
    font-size: 14px;
}           
#about .text .tl2{
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;

}           
#about .text .tl3{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 30px; 
}           
#about .text ul{
    margin-left: 20px;
    line-height: 40px;
}
#about .text button{
    padding: 17px;
    border-radius: 5px;
    background:white ;
    box-shadow: 0px 5px 5px 0px lightblue;
    font-weight: bold ;
    border: none;
    margin: 30px 0; 
    margin-right:20px;
    transition: 0.5s;

}
#about .text button:hover{
    background: #ffc712;

}
            
            /* About ends here */

            /* our skills starts here  */

#skills{
    width: 100%;
    height:490px ;
    margin-top: 100px;
}
#skills .container{
    width: 1300px;
}
#skills .container .row{
   display: flex; 
   flex-wrap: wrap;
}
.prograssive-bar .text{
    margin-right: 37px;
    color: #0f2f44;
}
.prograssive-bar .text .pl1{
    font-weight: 500;
}
.prograssive-bar .text .pl2{
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
}
.prograssive-bar .text .pl3{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#skills .container .row .bgimg{
    width: 60%;
}
#skills .container .row .bgimg img{
    height: 480px;
    width:90%;
    margin-top: 15px;
    margin-right: 20px;
}
#skills .container .row .prograssive-bar{
    height:490px;
    width:40%;
    text-align: right;
}
.prograssive-bar .option{
    width: 100%px;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-bottom: 15px;
}
.prograssive-bar .option .bar{
    width: 85%;
    margin-right: -10px;
}
.prograssive-bar .option .logo{
    width: 15%;
    margin: 0 30px 10px 0;
    height: 60px;
}
.prograssive-bar .option .bar .photosop{
   background:#294795;
   width:400px ; 
   height:10px ;
   border-radius: 5px;
   margin-bottom:25px;

}
.prograssive-bar .option .bar .photosop .first{
    height: 10px;
    border-radius: 5px;
    width: 10%;
    background:#dddddd;
    font-size: 14px;
    font-weight: 600;
    color:#0f2f44 ;
}
.prograssive-bar .option .bar .photosop .second{
    height: 10px;
    border-radius: 5px;
    width: 15%;
    background:#dddddd;
    font-size: 14px;
    font-weight: 600;
    color:#0f2f44 ;
    
}
.prograssive-bar .option .bar .photosop .third{
    height: 10px;
    border-radius: 5px;
    width: 25%;
    background:#dddddd;
    font-size: 14px;
    font-weight: 600;
    color:#0f2f44 ;
}
.prograssive-bar .option .bar .photosop .fourth{
    height: 10px;
    border-radius: 5px;
    width: 20%;
    background:#dddddd;
    font-size: 14px;
    font-weight: 600;
    color:#0f2f44 ;
}
.prograssive-bar .option .bar .photosop span{
    margin-top: -30px;
    position:absolute ;

}
.prograssive-bar .option .bar p{
    padding: 15px 0;
    font-size: 14px;
    font-weight: 600;
    color:#0f2f44 ;
    margin-right: 20px;

}
.option .logo a{
    width:60px;
    height:60px;
    background-color: #fff9e6;
    display: block;
    margin-left: 20px;
    margin-top: px;
    position: relative;
    border-radius:50% ;
    box-shadow: 0px 5px 5px 0px lightblue;

}
.option .logo a img{
    position: absolute;
    left: 10px;
    top:10px;
    
}


            /* our skills ends here  */


            /* Our services starts here  */
#services{
    width: 100%;
    height: 422px;
    background:#f5f5f5 ;
    margin-top: 100px;

}
#services .text{
    width: 100%;
    height: 140px;
    text-align: center; 
    padding-top:100px ;
    color:#0f2f44;
}
#services .text .pl1{
    font-weight: 500;
    font-size: 14px;
}
#services .text .pl2{
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
}
#services .box{
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
}
#services .box .box1{
    width: 370px;
    height: 180px;
    background: #ededed;
    display: flex;
    position: absolute;
}
.ud{
    left:-15px;
}
.ve{
    right:-15px;
}

#services .box .box1 .logo{
    width: 120px;
    height: 100%;
    padding: 60px 15px 40px 30px;
}
#services .box .box1 .lika{
    width: 250px;
    height: 100%;
    text-align:left;
    padding-top:10%;
}
#services .box .box1 .lika .nl1{
    font-weight: 550;
    font-size: 20px;
}
#services .box .box1 .lika .nl2{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}




.boxhvr1{
    width: 370px;
    height: 180px;
    background:#0f2f44;
    position: absolute; 
    opacity:0;
    color: #fff9e6;
    z-index: 2;
    transition: 0.5;
    left: 15px;
}
.boxhvr2{
    width: 370px;
    height: 180px;
    background:#0f2f44;
    position: absolute; 
    opacity:0 ;
    color: #fff9e6;
    z-index: 2;
    transition: 0.5;
    

}
.boxhvr3{
    width: 370px;
    height: 180px;
    background:#0f2f44;
    position: absolute; 
    opacity:0 ;
    color: #fff9e6;
    right:-15px;
    z-index: 2;
    transition: 0.5;
}

.boxhvr1 img{
    margin-left: 42%;
    margin-top:12%;
    
}
.boxhvr2 img{
    margin-left: 42%;
    margin-top:12%;
    
}
.boxhvr3 img{
    margin-left: 42%;
    margin-top:10%;
    
}

.boxhvr1:hover{
    opacity: 5;
}
.boxhvr2:hover{
    opacity: 5;
}
.boxhvr3:hover{
    opacity: 5;
}



        /* Our services ends here  */


        /* our portpolio starts here */
        #protfolio{
            padding-top: 100px;
        }
        #protfolio .we{
            font-size: 14px;
            color: #0f2f44;
            font-family: 'Ubuntu', sans-serif;
            text-align: center;
        }
        #protfolio h3{
            font-size: 32px;
            color: #0f2f44;
            font-family: 'Abril Fatface', cursive;
            text-align: center;
            padding-bottom: 60px;
        }
        #protfolio .protfolioitem{
           width: 30%;
           margin: 15px;
           position: relative;
           cursor: pointer;
        }
        #protfolio .overplay{
            width: 100%;
            left: 0;
            bottom: 0;
            height: auto;
            position: absolute;
        }
        #protfolio .protfolioitem .overplay p{
            font-size: 20px;
            text-align: center;
            background: #ffffff;
            padding: 15px;
            opacity: 0;
            color: #0f2f44;
            transition: 0.4s;
        }
        #protfolio .protfolioitem:hover .overplay p{
            opacity: 1;
            cursor: pointer;
        }
        #protfolio .protfolioarrowA{
            position:absolute;
            height: 50px;
            width: 50px;
            border: 1px ;
            border-radius: 50%;
            background: #ffffff;
            top: 50%;
            left: -25px;
            background-color: #ffc712;
            transition: 0.4s;
        }
        #protfolio .protfolioarrowA:hover{
            background-color: #ffffff;
        }
        #protfolio .protfolioarrowA span{
            display: inline-block;
            line-height: 50px;
            font-size: 20px;
            margin-top: 5%;
            margin-left: 25%;
        }
        #protfolio .protfolioarrowB{
            position:absolute;
            height: 50px;
            width: 50px;
            border: 1px ;
            border-radius: 50%;
            background: #ffffff;
            top: 50%;
            right: -25px;
            background-color: #ffc712;
            line-height: 50px;
            text-align: center;
            transition: 0.4s;
        }
        #protfolio .protfolioarrowB:hover{
            background-color: #ffffff;
        }
        #protfolio button {
            display: inline-block;
            margin: 60px 0px 60px 520px;
            padding: 17px 20px;
            border-radius: 12px;
            border: 0px;
        }
        #protfolio button:hover{
            background-color: #ffc712;
            box-shadow: 0px 0px;
            cursor: pointer;
        }
        
        #protfolio button a{
            font-size: 20px;
            color: #0f2f44;
            font-family: 'Ubuntu', sans-serif;
        }

        /* our portpolio ends here */


        /* our testimolial starts here  */
#testimonial{
    width: 100%;
    height: 445px;
    background-color: #f5f5f5;
    margin-top: 100px;
    color:#0f2f44;
}
#testimonial .bigsmall{
    text-align: center;
    margin-bottom:60px ;
    padding-top: 60px;
}
#testimonial .bigsmall .small{
    font-weight: 500;
    font-size: 14px;
}
#testimonial .bigsmall .big{
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
}
#testimonial .row{
    gap: 20px;
}



        /* our testimolial ends here  */


        /* our latest blog starts here  */
#latestblog{
    width: 100%;
    height: 700px;
    margin-top: 100px;
}
#latestblog .hline{
 text-align: center;
 color:#0f2f44 ;
 margin-bottom: 60px;
}
#latestblog .hline1{
    font-weight: 500;
    font-size: 14px;
}
#latestblog .hline2{
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;

}
.blog1{
position: relative;
height: 475px;
width: 350px;
background-color: #f5f5f5;

}
.blog2{
    position: relative;
    height: 475px;
    width: 350px;
    background-color: #f5f5f5;
}
.blog3{
    position: relative;
    height: 475px;
    width: 350px;
    background-color: #f5f5f5;
}
#latestblog .row{
    gap: 45px;
}
#latestblog  .pic{
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 20px;
}
.info{
    position: absolute;
    top: 350px;
    left: 20px;
    line-height: 25px;
}
.info .l2{
    font-weight: 550;
    font-size: 20px; 
}
.rside{
    position: absolute;
    left:320px;
    bottom: 250px;
    background: white;
    padding: 15px 20px;
    border-radius: 25px;
    z-index: 2;      

}
.lside{
    position: absolute;
    left:-15px;
    bottom: 250px;
    background: white;
    padding: 15px 20px;
    border-radius: 25px;
    z-index: 2;
       

}
.rside:hover{
    background: yellow;
}
.lside:hover{
    background: yellow;
}
.blog1:hover{
   background-color: #0f2f44; 
}
.blog2:hover{
    background-color: #0f2f44; 
}
.blog3:hover{
    background-color: #0f2f44;
    
}

#latestblog .blog1:hover{

}
#latestblog button{
    padding: 17px;
    border-radius: 5px;
    background:white ;
    box-shadow: 0px 5px 5px 0px lightblue;
    font-weight: bold ;
    border: none;
    margin: 50px 0 30px 45%; 
    margin-right:20px;
    transition: 0.5s;

}
#latestblog button:hover{
    background: #ffc712;

}


        /* our latest blog ends here  */
        #footer{
            background-color: #e9e9e9;
            padding: 100px 0px 60px 0px;
            margin-top: 40px;
        }
        #footer .container .fd{
            gap: 20px;
            
        }
        #footer .footertextA{
            width: 22%;
        }
        #footer .footertextA .footerlogoB img{
            width: 15px;
            height: 15px;
        }
        #footer .footertextA .footerlogoB ul{
            margin-top: 20px;
        }
        #footer .footertextA .footerlogoB li{
            width: 30px;
            height: 30px;
            border: 1px solid #0f2f44;
            border-radius: 50%;
            line-height: 30px;
            text-align: center;
            margin-right: 10px ;
            transition: 0.4s;
        }
        #footer .footertextA .footerlogoB ul li:hover{
            background-color: #0f2f44;
        }
        #footer .footerlogoB ul li a{
            color: #0f2f44;
        }
        #footer .footerlogoB ul li:hover a{
            color: #ffffff;
        }
        #footer .footertextA .footerlogoA p{
            padding: 30px 0px;
            font-size: 14px;
            color: #777777;
        }
        #footer .contact{
            width: 22%;
        }
        #footer .contact .loadd{
            display: flex;
            gap: 10px;
        }
        #footer .contact .loadd .footericon{
            line-height: 62px;
        }
        #footer .contact .loadd .footerinfo{
            line-height: 25px;
        }
        #footer .contact .loadd a{
            color:#777777 ;
            
        }
        #footer .container .row span{
            margin: 40px 0px;
            font-size: 20px;
            font-family: 'Ubuntu', sans-serif;
        }

        /* #footer .footertextB{
            width: 26 ;
            padding: 0px 35px;
        }
        #footer .container .row span{
            margin: 40px 0px;
            font-size: 20px;
            font-family: 'Ubuntu', sans-serif;
        }
        #footer .footertextB .info{
            margin-top: 40px;
        }
        #footer .footertextB .footericon{
            width: 10%;
        }
        #footer .footertextB .footericon a{
            
            margin-top: 45px;
            color: #777777;
        }
        #footer .footertextB .footerinfo{
            width: 90%;
        }
        #footer .footertextB .footerinfo a{
            
            padding-top: 30px;
            font-size: 14px;
            color: #777777;
        }*/
        #footer  address{
            font-size: 14px;
            color: #777777;
            cursor: pointer;
        }  
        #footer .footertextC{
            width: 18%;
            padding: 0px 35px;
        }
        #footer .footertextC ul li{
            margin: 23px 0px;
            font-size: 14px;
            color: #777777;
            transition: 0.5s;
        }
        #footer .footertextC ul li:hover{
            margin-left: 20px;
            cursor: pointer;
        }
        #footer .footertextD{
            width: 32%;
        }
        #footer .footertextD .footerfilckr img{
            margin-left: 5px;
            margin-bottom: 10px;

        }

